#home {
  display: flex;
  min-height: calc(100vh - 102px);
  position: relative;
  margin-top: 102px;
}

#cta {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
}

#cta .title {
  font-size: 3rem;
  color: #1d1d1d;
}

#cta .title span {
  color: rgb(9, 189, 189);
}

#cta .description {
  font-size: 1.2rem;
}

#cta_buttons {
  display: flex;
  gap: 24px;
}

#cta_buttons a {
  text-decoration: none;
  color: #1d1d1d;
}

#phone_button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  padding: 8px 10px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;
}

#banner img {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

.shape {
  background-color: #d1f7ff;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 50% 30% 35% 40%;
  top: 0;
  right: 5%;
  z-index: -1;
}

@media screen and (max-width: 1170px) {
  #home {
    min-height: 100%;
    padding-top: 0px;
    flex-direction: column;
  }

  #cta {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  #banner {
    width: auto;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .shape {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #cta_buttons {
    flex-direction: column;
  }

  #banner {
    display: none;
  }
}
